doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p 
        a(class='move' href='/') Home
        |  
        a(class='move' href='/view') View
    
    block content