
extends layout

block content
  h1= title
  a(href="./") Home

  a(href="./form.pug") Form

  a(href="./about.pug") About
  br
  br
  br
  center
    img(src="images/ScienceFiction.jpg")
  
  p Lorem ipsum dolor sit springboard claw consectetur adipiscing atomic spear with a sledge hammer. Nullam dignissim nulla dui, Russian full nelson luctus mauris suscipit a. Class aptent Northern light cobra clutch sociosqu ad litora torquent Russian head lock Canadian arm drag nostra, per inceptos Saskatchewan cobra clutch with a steel chair. In eget dolor odio. Russian leg sweep tempor enim purus, eget bionic arm drag mi facilisis vitae. Maecenas imperdiet dui moss-covered bulldog ante mollis ultrices. Nullam vitae nibh springboard sharpshooter vulputate neque et, super cloverleaf lorem. Aenean varius nibh eros, crossbody suplex tincidunt mauris laoreet super Boston crab with a 2x4.
  

  p Lorem ipsum dolor sit springboard claw consectetur adipiscing atomic spear with a sledge hammer. Nullam dignissim nulla dui, Russian full nelson luctus mauris suscipit a. Class aptent Northern light cobra clutch sociosqu ad litora torquent Russian head lock Canadian arm drag nostra, per inceptos Saskatchewan cobra clutch with a steel chair. In eget dolor odio. Russian leg sweep tempor enim purus, eget bionic arm drag mi facilisis vitae. Maecenas imperdiet dui moss-covered bulldog ante mollis ultrices. Nullam vitae nibh springboard sharpshooter vulputate neque et, super cloverleaf lorem. Aenean varius nibh eros, crossbody suplex tincidunt mauris laoreet super Boston crab with a 2x4.
