
extends layout

block content
    h1= title
    p
        strong  Name:
        span #{title1}
    p
        strong  Email:
        span #{title2}
    p
        strong  Comments:
        span #{title3}
