body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  padding-right: 10px;
}

.center {
    text-align: center;
}

.button {
    border-radius: 2px;
    background-color: dodgerblue;
    border: 1px solid firebrick;
    color: white;
}

span {
    padding-left: 6px;
}